@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
toolbarbutton#alltabs-button {
   -moz-binding: url('userChrome.xml#js');
}

#titlebar,
#pageActionSeparator,
#extension-icon,
#star-button-box,
#blocked-permissions-container,
#tracking-protection-icon-container,

#appMenu-fxa-container,                    
#appMenu-fxa-container+toolbarseparator,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-library-button,
#appMenu-customize-button+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,

#back-button,
#forward-button,
#urlbar-go-button,
#urlbar-background,
#pageActionButton,
#pocket-button-box,
.urlbarView,
PanelUI-menu-button,
ar-button,
#identity-icon-labels
{
    display: none !important;
}


#urlbar,
#nav-bar,
#navigator-toolbox,
.searchbar-textbox {
  height: 24px !important;
  padding: 0px !important;
  font-size: 1.05em !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-appearance: none;
  cursor: default;
}

.urlbar-input-box {
   text-align: center;
}
